# Closing Form - Generic Stripe ACH mode

# Stripe / FCA
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxx
REACT_APP_STRIPE_FCA_WEBHOOK=https://hook.us1.make.com/xxxxx

# Form submission
REACT_APP_CLOSING_FORM_SUBMIT_WEBHOOK=https://hook.us1.make.com/xxxxx

# Customer link password protection
REACT_APP_CHECK_PASSWORD_CUSTOMER_LINK_WEBHOOK=https://hook.us1.make.com/xxxxx

# Real Playwright E2E
PLAYWRIGHT_TEST_COMPANY_NAME=soundcheckcapital.com
PLAYWRIGHT_TEST_PASSWORD=replace-with-your-test-password
